@model LojaJogos.Models.Jogos
@{
    ViewBag.Title = "Jogos";
}

<br />
<h2>Cadastro de Jogos </h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Dados do Jogo</legend>
        <div class="editor-label">
            Código
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JogoCod)
            @Html.ValidationMessageFor(model => model.JogoCod)
        </div>

        <div class="editor-label">
            Nome do jogo
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JogoNome)
            @Html.ValidationMessageFor(model => Model.JogoNome)
        </div>

        <div class="editor-label">
            Versão do jogo
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JogoVersao)
            @Html.ValidationMessageFor(model => model.JogoVersao)

        </div>

        <div class="editor-label">
            Desenvolvedor
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JogoDesenv)
            @Html.ValidationMessageFor(model => model.JogoDesenv)

        </div>

        <div class="editor-label">
            Gênero do jogo
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JogoGen)
            @Html.ValidationMessageFor(model => model.JogoGen)

        </div>

        <div class=" editor-label">
            Faixa etária
        </div>
        <div class=" editor-field">
            @Html.EditorFor(model => model.JogoFaixaEt)
            @Html.ValidationMessageFor(model => model.JogoFaixaEt)
        </div>

        <div class="editor-label">
            Plataforma do Jogo
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JogoPlat)
            @Html.ValidationMessageFor(model => model.JogoPlat)
        </div>

        <div class="editor-label">
            Ano de lançamento
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JogoAnoLanc)
            @Html.ValidationMessageFor(model => model.JogoAnoLanc)
        </div>
        <div class="editor-label">
            Sinopse do Jogo
        </div>
        <div class="editor-field2">
            @Html.EditorFor(model => model.JogoSinopse)
            @Html.ValidationMessageFor(model => model.JogoSinopse)
        </div>
        <br />

        <p><input type="submit" value="Cadastrar" /></p>

    </fieldset>
}
